*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:480px;
    height:480px;
    border: 1px solid black;
    margin: 8px;
    
}

.hover{
    background-color: black;
}